/dist/
/Editor/nbproject/private/
/GRW,Editor/nbproject/private/
/GRW,Editor/build/
/GRW.Editor/nbproject/private/
/GRW.Editor/build/
/build/
/sqlite-jdbc/build/
/GameDB/build/
/SQLiteQueryBuilder/build/